1) Створіть простий відеохостинг. Користувач має мати можливість
коментувати та ставити. Прибирати лайки під відео.
2) Додайте можливість завантаження та перегляду відео. Реалізуйте систему
   коментування відео.
3) Реалізуйте систему користувачів та управління їхніми правами. Додайте
   функціонал "Поділитися відео", щоб користувачі могли надсилати відео іншим
   користувачам.